.wrapper {
  width: 516px;
  height: 608px;
  background: #ffffff;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.25);
  color: black;

  &__logo {
    display: flex;
    justify-content: space-around;
    padding-top: 56px;
  }

  &__img {
    width: 263px;
    height: 172px;
    background: url('../../assets/img/logo.png');
    background-size: cover;
    margin-bottom: 23px;
  }

  &__blockRecover {
    display: flex;
    justify-content: space-evenly;
  }

  &__passwordRecovery {
    font-size: 20px;
    line-height: 27px;
    color: #989898;
  }

  &__information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    font-size: 14px;
    line-height: 19px;
    margin-top: 19px;
    margin-bottom: 4px;
    display: block;
  }

  &__input {
    width: 343px;
    height: 32px;

    border: 1px solid #10100f;
    border-radius: 5px;
  }

  &__forgot {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 87px;
    margin-top: 10px;
  }

  &__forgotPassword {
    font-size: 16px;
    line-height: 22px;
    color: #f6b52e;
  }

  &__block {
    display: flex;
    justify-content: center;
    margin-top: 42px;
  }

  &__btn {
    width: 343px;
    height: 44px;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    background: #f2b705;
    border-radius: 5px;
  }

  &__modal {
    font-size: x-large;
  }
}
